/*
html,body { 
    background: url(bg.jpg) no-repeat center center fixed; !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

#wrap{
    
    width:400px;!important;
    margin-top:75px;
    text-align: center;
}
#wrap2{
    
    width:400px;
    margin-top:75px;
    text-align: center;
}
#wrap1{
    width:600px;
    margin-top:150px;
    text-align: center;
}
#login{
    
    margin-top: 15px;
    margin-bottom:15px;
}

#loginAlert{
    
    display: none;
}